.company-logo{
  float: right;
  font-size: 10px;
  bottom: 0;
  position: fixed;
}
.logo{
  font-family: 'Oleo Script', cursive;
  font-size: 100px;
  text-align: center;
  margin-top: 150px;
}
.form-submission{
  text-align: center;
  margin-top: 100px;
}
.upload-button{
  margin-top:30px;
}
.btn-file {
    margin-left: 40%;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
}
.btn-filet:hover, .btn-file:focus, .btn-file:active {
    border: none;
    box-shadow: none;
 }
}
.table-title{
  font-family: 'Oleo Script', cursive;
  font-size: 30px;
  text-align: center;
}
